<div class="my-2 mx-1">
  <div class="grid m-0">
    <div class="col-2 align-self-end">
      <i class="pi pi-bars text-color-secondary" (click)="showMenu = true" (keydown.enter)="showMenu = true" tabindex="0" role="button"></i>
      <p-sidebar [(visible)]="showMenu" styleClass="w-9">
        <h3 class="text-center">{{ brandName }}</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </p-sidebar>
    </div>

    <div class="col text-center text-lg">{{ brandName }}</div>
    
    <div class="col-2 text-right align-self-end">      
      <i class="pi pi-user text-primary" tabindex="0" role="button" (click)="showProfile=true" (keydown.enter)="showProfile=true"></i>
      <p-sidebar [(visible)]="showProfile" position="right" styleClass="w-9">
        <h3 class="text-center">Profile</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </p-sidebar>
    </div>
  </div>
</div>