<div class="m-2 mt-0">
  <div class="pb-2">
    <p-table [value]="items" styleClass="p-datatable-sm" *ngIf="items.length > 0">
      <ng-template pTemplate="caption">
        <h3>Updates available</h3>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
          <!-- Name -->
          <td>
            <span class="text-sm">
              <span *ngIf="item.name.length <= nameLimit; else other">{{ item.name }}</span>
              <ng-template #other>{{ item.name.substr(0, nameLimit) + '...' }}</ng-template>
            </span>
            <i class="pi pi-info-circle" *ngIf="item.name.length > nameLimit"></i>
          </td>

          <!-- Update -->
          <td>
            <span class="text-red-500">{{ item.lastRead }}</span>
            <i class="pi pi-arrow-right text-xs px-1"></i>
            <span class="text-green-500">{{ item.availableTill }}</span>
          </td>

          <!-- -->
          <td>
            <i class="pi pi-sync text-primary" role="button" tabindex="0" (click)="showItembar=true"
              (keydown.enter)="showItembar=true"></i>
          </td>

          <p-sidebar [(visible)]="showItembar" position="bottom" styleClass="h-23rem">
            <h3 class="text-center">Name</h3>
            <div class="grid text-center">
              <div class="col-12" *ngFor="let option of itemOptions">
                <p-button size="small" [severity]="option.severity" (onClick)="option.onClick()">{{ option.name }}</p-button>
              </div>
            </div>
          </p-sidebar>
        </tr>
      </ng-template>
    </p-table>

    <h3 class="text-center" *ngIf="items.length === 0">No updates available</h3>
  </div>

  <div class="grid pt-3 pb-1">
    <div *ngFor="let btn of buttons" class="col-12 md:col-4 text-center p-1">
      <p-button [severity]="btn.severity" size="small" (onClick)="btn.onClick()">
        {{ btn.name }}
      </p-button>

      <p-dialog *ngIf="btn.code === 'add-manga'" [header]="btn.name" [modal]="true" position="bottom" [(visible)]="addManga.dialog" (onHide)="resetAddManga()">
        <div class="text-left">
          <span class="p-text-secondary block mb-3">Enter the url of the manga.</span>
          <input type="text" pInputText [(ngModel)]="addManga.urlToAdd" (keydown.enter)="onAddMangaSubmit()">
          <p *ngIf="addManga.errorMsg !== ''" class="text-red-500 text-sm my-1">{{ addManga.errorMsg }}</p>

          <div class="text-right">
            <p-button label="Submit" size="small" styleClass="mt-3 text-right" (onClick)="onAddMangaSubmit()" />
          </div>
        </div>
      </p-dialog>
    </div>
  </div>
</div>