<div class="my-4 px-2">
  <div class="grid">
    <p-button *ngFor="let btn of buttons" [label]="btn.label" [icon]="btn.icon" (onClick)="btn.onClick()" [outlined]="btn.outlined" size="small" class="col-12 py-1" styleClass="w-full" [severity]="btn.severity"></p-button>
  </div>

  <p-table [value]="items" styleClass="p-datatable-sm mt-3" *ngIf="items.length > 0">
    <ng-template pTemplate="caption">
      <h3>Manga list</h3>
    </ng-template>
    
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ item.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>